[Unit]
Description=Localtonet
After=network.target
[Service]
Type=simple
ExecStart=/home/william/localtonet authtoken LgPh7SmNi3aCUZoOxFHklvV4XbyEu58T1
Restart=on-failure
User=root
[Install]
WantedBy=multi-user.target